// example
.dsl_s_wav img,
.lsa_play img
{
  display: none;
}
.dsl_s_wav a,
.lsa_play script + td a
{
  display: inline-block;
  width:   24px;
  height:  24px;
  background: url('file:./styles/dark-av-sound-icon.png') no-repeat center;
  vertical-align: -35%;
}
