/* ======= This file is encoded UTF-8 without BOM ======= */
/*                   GD DARK DEEP THEME                   */
/*             based on Display style: Lingvo             */
/* ====================================================== */

@font-face {
    font-family: NotoSans;
    src: local('Noto Sans Medium') url('file:./fonts/NotoSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style:  normal;
}
@font-face {
    font-family: NotoSans;
    src: local('Noto Sans Medium Italic') url('file:./fonts/NotoSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style:  italic;
}
@font-face {
    font-family: NotoSans;
    src: local('Noto Sans Bold') url('file:./fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight:  bold;
    font-style: normal;
}
@font-face {
    font-family: NotoSans;
    src: local('Noto Sans Bold Italic') url('file:./fonts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight:  bold;
    font-style: italic;
}
@font-face {
    font-family: NotoSerif;
    src: local('Noto Serif SemiBold') url('file:./fonts/NotoSerif-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style:  normal;
}
@font-face {
    font-family: NotoSerif;
    src: local('Noto Serif SemiBold Italic') url('file:./fonts/NotoSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style:  italic;
}
/* connecting additional Unicode ranges */
/*
@font-face {
    font-family: NotoSansExpansion;
    src: url('file:./fonts/NotoSansPhoenician-Regular.ttf') format('truetype');
}
@font-face {
    font-family: NotoSansExpansion;
    src: url('file:./fonts/ShafarikGlagolitic.ttf') format('truetype');
}
*/

/* ====================================================== */
/*                     ARTICLE WINDOW                     */
/* ====================================================== */

html
{
  width:         100%;
  height:        100%;
  background: #2B3339;
}
html::after
{
  /* adjusting transparency of background image */
  content: "";
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
  position: absolute;
  z-index: -1;

  /* change background image and adjust its opacity */
  background-image: url('file:./styles/Dark/dark-av-background-openbook.svg');
  opacity:                 .08;
  background-size:         60%;
  background-position:  center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body
{
  font-family: "Segoe UI Semibold", NotoSans, NotoSansExpansion, sans-serif;
  font-size:   10.8pt;
  margin:    5px 10px;
}

/* ====================================================== */
/*                    ARTICLE GENERALS                    */
/* ====================================================== */

::selection
{
  /*
  color:      #8CC6FF;
  color:      #CCE6FF;
  */
  color:      #E8F3FF;
  background: #5C7E99;
}
a
{
  text-decoration: none;
  color:        #379BFF;
}
a:hover
{
  text-decoration: underline;
  cursor:            pointer;
}
a.dsl_url:hover
{
  cursor: alias;
}

/* ====================================================== */
/*                          DSL                           */
/* ====================================================== */

.dsl_headwords
{
  font-family: "Segoe UI", NotoSans, sans-serif;
  font-weight: bold;
}
.dsl_b
{
  font-family: "Segoe UI", NotoSans, sans-serif;
  font-weight: bold;
}
.dsl_com { color: inherit; }
.dsl_t,
font[color] > .dsl_com > .dsl_trs
{
  font-family: NotoSerif, Cambria, serif;
}
.dsl_stress                { color:      red; }
.dsl_stress_without_accent { display: inline; }
.dsl_stress_with_accent    { display:   none; }

.dsl_s_wav img,
.lsa_play img
{
  display: none;
}
.dsl_s_wav a,
.lsa_play script + td a
{
  display:       inline-block;
  vertical-align: text-bottom;
  width:       16px;
  height:      16px;
  margin-left:  4px;
  margin-right: 2px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8.5,1L8.5,1C8.4,1,8.3,1,8.2,1.1L3.3,5H1C0.5,5,0,5.5,0,6v3c0,0.5,0.5,1,1,1h2.3l4.9,3.9c0.2,0.2,0.5,0.1,0.7-0.1C9,13.7,9,13.6,9,13.5v-12C9,1.2,8.8,1,8.5,1z M3,9H1V6h2V9z M8,12.5L4,9.3V5.7l4-3.2V12.5z M10,8.8V6.2C10,6.1,10.1,6,10.2,6h0.6C10.9,6,11,6.1,11,6.2v2.6C11,8.9,10.9,9,10.8,9h-0.6C10.1,9,10,8.9,10,8.8z M12.8,10h-0.6C12.1,10,12,9.9,12,9.8V5.2C12,5.1,12.1,5,12.2,5h0.6C12.9,5,13,5.1,13,5.2v4.6C13,9.9,12.9,10,12.8,10z' fill='%23CBD0D8'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_s_wav a:hover,
.lsa_play script + td a:hover
{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8.5,1L8.5,1C8.4,1,8.3,1,8.2,1.1L3.3,5H1C0.5,5,0,5.5,0,6v3c0,0.5,0.5,1,1,1h2.3l4.9,3.9c0.2,0.2,0.5,0.1,0.7-0.1C9,13.7,9,13.6,9,13.5v-12C9,1.2,8.8,1,8.5,1z M3,9H1V6h2V9z M8,12.5L4,9.3V5.7l4-3.2V12.5z M10,8.8V6.2C10,6.1,10.1,6,10.2,6h0.6C10.9,6,11,6.1,11,6.2v2.6C11,8.9,10.9,9,10.8,9h-0.6C10.1,9,10,8.9,10,8.8z M12.8,10h-0.6C12.1,10,12,9.9,12,9.8V5.2C12,5.1,12.1,5,12.2,5h0.6C12.9,5,13,5.1,13,5.2v4.6C13,9.9,12.9,10,12.8,10z' fill='%230080FF'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_s_wav a:active,
.lsa_play script + td a:active
{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8.5,1L8.5,1C8.4,1,8.3,1,8.2,1.1L3.3,5H1C0.5,5,0,5.5,0,6v3c0,0.5,0.5,1,1,1h2.3l4.9,3.9c0.2,0.2,0.5,0.1,0.7-0.1C9,13.7,9,13.6,9,13.5v-12C9,1.2,8.8,1,8.5,1z M3,9H1V6h2V9z M8,12.5L4,9.3V5.7l4-3.2V12.5z M11.5,7.5C11.5,8.3,10.8,9,10,9V6C10.8,6,11.5,6.7,11.5,7.5z M15.5,7.5c0,3-2.5,5.5-5.5,5.5v-1c2.5,0,4.5-2,4.5-4.5S12.5,3,10,3V2C13,2,15.5,4.5,15.5,7.5z M13.5,7.5c0,1.9-1.6,3.5-3.5,3.5v-1c1.4,0,2.5-1.1,2.5-2.5S11.4,5,10,5V4C11.9,4,13.5,5.6,13.5,7.5z' fill='%230080FF'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_video img { display: none; }
.dsl_video .img
{
  display:       inline-block;
  vertical-align: text-bottom;
  width:       16px;
  height:      16px;
  margin-left:  4px;
  margin-right: 2px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.5,1C0.7,1,0,1.7,0,2.5v8C0,11.3,0.7,12,1.5,12H7c0,0.2,0,0.3,0,0.5c0,0.2,0,0.3,0,0.5H4v1h7v-1H8c0-0.2,0-0.2,0-0.5c0-0.2,0-0.3,0-0.5h5.5c0.8,0,1.5-0.7,1.5-1.5v-8C15,1.7,14.3,1,13.5,1H1.5z M1.5,2h12C13.8,2,14,2.2,14,2.5v8c0,0.3-0.2,0.5-0.5,0.5h-12C1.2,11,1,10.8,1,10.5v-8C1,2.2,1.2,2,1.5,2z M3,4H2V3h1V4z M3,6H2V5h1V6z M3,8H2V7h1V8z M3,10H2V9h1V10z M13,4h-1V3h1V4z M13,6h-1V5h1V6z M13,8h-1V7h1V8z M13,10h-1V9h1V10z' fill='%23CBD0D8'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_video .img:hover
{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.5,1C0.7,1,0,1.7,0,2.5v8C0,11.3,0.7,12,1.5,12H7c0,0.2,0,0.3,0,0.5c0,0.2,0,0.3,0,0.5H4v1h7v-1H8c0-0.2,0-0.2,0-0.5c0-0.2,0-0.3,0-0.5h5.5c0.8,0,1.5-0.7,1.5-1.5v-8C15,1.7,14.3,1,13.5,1H1.5z M1.5,2h12C13.8,2,14,2.2,14,2.5v8c0,0.3-0.2,0.5-0.5,0.5h-12C1.2,11,1,10.8,1,10.5v-8C1,2.2,1.2,2,1.5,2z M3,4H2V3h1V4z M3,6H2V5h1V6z M3,8H2V7h1V8z M3,10H2V9h1V10z M13,4h-1V3h1V4z M13,6h-1V5h1V6z M13,8h-1V7h1V8z M13,10h-1V9h1V10z' fill='%230080FF'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_video .img:active
{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M13.5,1h-12C0.7,1,0,1.7,0,2.5v8C0,11.3,0.7,12,1.5,12H7c0,0.2,0,0.3,0,0.5s0,0.3,0,0.5H4v1h7v-1H8c0-0.2,0-0.2,0-0.5c0-0.2,0-0.3,0-0.5h5.5c0.8,0,1.5-0.7,1.5-1.5v-8C15,1.7,14.3,1,13.5,1z M14,10.5c0,0.3-0.2,0.5-0.5,0.5h-12C1.2,11,1,10.8,1,10.5v-8C1,2.2,1.2,2,1.5,2h12C13.8,2,14,2.2,14,2.5V10.5z M3,4H2V3h1V4z M3,6H2V5h1V6z M3,8H2V7h1V8z M3,10H2V9h1V10z M13,4h-1V3h1V4z M13,6h-1V5h1V6z M13,8h-1V7h1V8z M13,10h-1V9h1V10z M5,10V3l6,3.5L5,10z' fill='%230080FF'/%3E%3C/svg%3E") no-repeat center;
}
.dsl_opt,
.dsl_opt .dsl_ex,
.dsl_opt .dsl_ex :not(a),
.dsl_opt .dsl_ex font[color],
.dsl_opt .dsl_trn,
.dsl_ex,
.dsl_ex .dsl_opt,
.dsl_ex .dsl_opt :not(a),
.dsl_ex .dsl_trn
{
  color: #9B9B9B;
}
.dsl_p,
.dsl_p :not(a),
.dsl_article font[color=c_default_color]
{
  color: #FF7B3C !important;
  cursor: help;
}
/* color index_lang in examples */
.dsl_ex .dsl_lang,
.dsl_ex .dsl_lang .dsl_u,
.dsl_ex .dsl_lang .dsl_trs
{
  color: #888FA0 !important;
}
.dsl_com
{
  color: #C7CBD3;
}
/* lighten dark colors */
font[color=blue]          { color: #8882FF !important; }
font[color=mediumblue]    { color: #8882FF !important; }
font[color=darkblue]      { color: #8882FF !important; }
font[color=darkslateblue] { color: #8882FF !important; }
font[color=midnightblue]  { color: #8882FF !important; }
font[color=navy]          { color: #8882FF !important; }
font[color=darkmagenta]   { color: #FF22FF !important; }
font[color=purple]        { color: #FF22FF !important; }
font[color=indigo]        { color: #B959FF !important; }
font[color=darkred]       { color: #D20000 !important; }
font[color=maroon]        { color: #D20000 !important; }
font[color=darkslategray] { color: #768390 !important; }
font[color=dimgray]       { color: #A7A7A7 !important; }
font[color=green]         { color: #32CD32 !important; }
font[color=darkgreen]     { color: #32CD32 !important; }
font[color=forestgreen]   { color: #32CD32 !important; }
font[color=seagreen]      { color: #00FF7F !important; }
font[color=mediumseagreen]{ color: #00FF7F !important; }
font[color=olive]         { color: #F0E68C !important; }
font[color=darkolivegreen]{ color: #ADFF2F !important; }
font[color=olivedrab]     { color: #ADFF2F !important; }

/* ====================================================== */
/*                      ARTICLE BOXES                     */
/* ====================================================== */

.gdarticle
{
  margin-top:    10px;
  margin-bottom: 10px;
  padding:        5px;

  background:       #232B30;
  color:            #CBD0D8;
  border: 1px solid #4E5B65;
}
.gdactivearticle
{
  border: 1px solid #0080FF;
}
.gdarticleseparator + script + .gdactivearticle .gddictname
{
  border-top: 1px solid #0080FF;
}
.gdarticleseparator + script + .gdarticle .gddictname
{
  border-top: 1px solid #4E5B65;
}
.gdarticleseparator
{
  display: none;
}
/* hide the 'From ' string which preceeds dictionary name in the heading */
.gdfromprefix
{
  display: none;
}
.gddictname
{
  /* needed to be able to reorder elements, e.g. icon, dictionary name, collapse icon */
  display: -webkit-box;
  font-size:      12px;
  font-weight:  normal;
  float:         right;
  margin:         -6px;
  margin-bottom:   5px;
  margin-left:     2px;
  padding-right: 0.3em;
  padding-top:   0.3em;

  color:            #CBD0D8;
  background:       #2B3339;
  border: 1px solid #4E5B65;

  -webkit-user-select: none;
  user-select:         none;
  cursor:           default;
}

/* actual text with the dictionary title */
.gddicttitle
{
  display: block;
  -webkit-box-ordinal-group: 1;
}
.gdactivearticle .gddictname
{
  font-size:     12px;
  font-weight: normal;
  margin:        -6px;
  margin-bottom: 10px;
  margin-left:    2px;
  float:        right;

  color:            #FFFFFF;
  background:       #0080FF;
  border: 1px solid #0080FF;
}
.gdcollapsedarticle .gddictname
{
  opacity: 0.7;
}

/* article collapsed */
.gdcollapsedarticle
{
  background:       #2B3339;
  border: 1px solid #4E5B65;
  /* here we change the pattern */
  background-image: url('file:./styles/Dark/dark-av-collapse-pattern.png');
}

/* move collapse/expand buttons to the last, 3rd position */
.collapse_expand_area
{
  display: block;
  -webkit-box-ordinal-group: 3;
}
.gddicticon
{
  display:               block;
  vertical-align:  text-bottom;
  padding-right:          -1em;
  padding-left:          0.3em;
  -webkit-box-ordinal-group: 2;
}
.gdexpandicon,
.gdexpandicon:hover,
.gdcollapseicon,
.gdcollapseicon:hover
{
  width:                     15px;
  background-position: center 35%;
  background-repeat:    no-repeat;
  vertical-align:     text-bottom;
  padding-left:              -5px;
  margin-left:                0px;
}
.gdexpandicon
{
  background-image: url('qrcx://localhost/icons/expand_article.png');
}
.gdexpandicon:hover
{
  background-image: url('qrcx://localhost/icons/expand_article_hovered.png');
}
.gdcollapseicon
{
  background-image: url('qrcx://localhost/icons/collapse_article.png');
}
.gdcollapseicon:hover
{
  background-image: url('qrcx://localhost/icons/collapse_article_hovered.png');
}

/* first headword in a multi-headword DSL article */
.gdarticlebody > span:first-child .dsl_headwords,
.gdarticlebody > h3:first-child
{
  margin-top:      -3px;
  display: inline-block;
}
.gdspellsuggestion
{
  margin-top: 1.5em;
}

/* ====================================================== */
/*                      WELCOME PAGE                      */
/* ====================================================== */

.gdnotfound,
.gdstemmedsuggestion_head,
.gdstemmedsuggestion_body
{
  color: #CBD0D8;
}
.gdstemmedsuggestion_body > a
{
  color: #0080FF;
}

/* remove ads */
body > h3,
body > p
{
  visibility:      hidden;
  background: transparent;
}
body
{
  background: transparent;
}

/* ====================================================== */
/*                    SCROLL BARS                         */
/* ====================================================== */

::-webkit-scrollbar
{
  background:       #2B3339;
  border: 1px solid #000000;
}
::-webkit-scrollbar-corner
{
  background:              #2B3339;
  border-bottom: 1px solid #000000;
  border-right:  1px solid #000000;
}
::-webkit-scrollbar-thumb:vertical
{
  background:             #4E5B65;
  border-left:  1px solid #000000;
  border-right: 1px solid #000000;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active
{
  background:             #0080FF;
  border-left:  1px solid #000000;
  border-right: 1px solid #000000;
}
::-webkit-scrollbar-button:vertical:decrement
{
  border: 1px solid #000000;
  background: 
    linear-gradient(135deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(225deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(0deg,   #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:vertical:increment
{
  border: 1px solid #000000;
  background:
    linear-gradient(315deg, #2B3339 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(45deg,  #2B3339 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:vertical:decrement:hover,
::-webkit-scrollbar-button:vertical:increment:hover
{
  background-color: #0080FF;
}
::-webkit-scrollbar-button:vertical:decrement:active
{
  background: 
    linear-gradient(135deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(225deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(0deg,   #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-button:vertical:increment:active
{
  background:
    linear-gradient(315deg, #000000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(45deg,  #000000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-thumb:horizontal
{
  background:              #4E5B65;
  border-top:    1px solid #000000;
  border-bottom: 1px solid #000000;
}
::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:active
{
  background:              #0080FF;
  border-top:    1px solid #000000;
  border-bottom: 1px solid #000000;
}
::-webkit-scrollbar-button:horizontal:decrement
{
  border: 1px solid #000000;
  background:
    linear-gradient(45deg,  #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(135deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(270deg, #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:horizontal:increment
{
  border: 1px solid #000000;
  background:
    linear-gradient(225deg, #2B3339 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(315deg, #2B3339 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(90deg,  #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:horizontal:decrement:hover,
::-webkit-scrollbar-button:horizontal:increment:hover
{
  background-color: #0080FF;
}
::-webkit-scrollbar-button:horizontal:decrement:active
{
  background:
    linear-gradient(45deg,  #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(135deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(270deg, #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-button:horizontal:increment:active
{
  background:
    linear-gradient(225deg, #000000 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(315deg, #000000 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(90deg,  #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
