/* ======= This file is encoded UTF-8 without BOM ======= */
/*                   GD DARK DEEP THEME                   */
/*             based on Display style: Lingvo             */
/* ====================================================== */

@font-face {
    font-family: NotoSerifSB;
    src: url('file:./fonts/NotoSerif-SemiBold.ttf');
}

/* ====================================================== */
/*                     ARTICLE WINDOW                     */
/* ====================================================== */

html {
  width:  100%;
  height: 100%;
  background-color: rgb(43,51,57);
}
html::after {
  /* adjusting the transparency of the background image */
  content: "";
  top:    0;
  left:   0;
  bottom: 0;
  right:  0;
  position: absolute;
  z-index: -1;

  /* change the background image and adjust its opacity */
  background-image: url('file:./styles/Dark/dark-av-background-openbook.svg');
  opacity: .08;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Segoe UI Semibold", "Noto Sans Medium", "Arial Unicode MS", sans-serif;
  font-size:  10.8pt;
  margin: 5px 10px;
}

/* ====================================================== */
/*                    ARTICLE GENERALS                    */
/* ====================================================== */

a
{
  text-decoration: none;
  color: #379BFF;
}
a:hover
{
  text-decoration: underline;
}
::selection
{
  background: #0080FF;
  color:      #FFFFFF;
}
/* don't remember what this rule was for */
code::selection
{
  background: #333333;
}

/* ====================================================== */
/*                          DSL                           */
/* ====================================================== */

.dsl_headwords
{
  font-family: "Segoe UI", "Noto Sans";
  font-weight: bold;
}
.dsl_b
{
  font-family: "Segoe UI", "Noto Sans";
  font-weight: bold;
}
.dsl_t
{
  font-family: NotoSerifSB, Cambria;
}
.dsl_stress                { color: red; }
.dsl_stress_without_accent { display:inline; }
.dsl_stress_with_accent    { display:none; }
.dsl_s_wav img             { display:none; }
.dsl_s_wav a
{
  display: inline-block;
  width:  24px;
  height: 24px;
  background: url('file:./styles/Dark/dark-av-play-icon.png') no-repeat center;
  vertical-align: text-bottom;
}
.dsl_opt,
.dsl_opt .dsl_ex,
.dsl_opt .dsl_ex :not(a),
.dsl_opt .dsl_ex font[color],
.dsl_opt .dsl_trn,
.dsl_ex,
.dsl_ex .dsl_opt,
.dsl_ex .dsl_opt :not(a),
.dsl_ex .dsl_trn
{
  color: #9B9B9B;
}
/* color index_lang in examples */
.dsl_ex .dsl_lang,
.dsl_ex .dsl_lang .dsl_u,
.dsl_ex .dsl_lang .dsl_trs
{
  color: #888FA0 !important;
}
.dsl_p,
.dsl_p :not(a),
.dsl_article font[color=c_default_color]
{
  color: #FF7B3C !important;
  cursor: help;
}
.dsl_com
{
  color: #C7CBD3;
}
/* lighten dark colors */
font[color=blue]          { color: #8882FF !important; }
font[color=mediumblue]    { color: #8882FF !important; }
font[color=darkblue]      { color: #8882FF !important; }
font[color=darkslateblue] { color: #8882FF !important; }
font[color=midnightblue]  { color: #8882FF !important; }
font[color=navy]          { color: #8882FF !important; }
font[color=darkmagenta]   { color: #FF22FF !important; }
font[color=purple]        { color: #FF22FF !important; }
font[color=indigo]        { color: #B959FF !important; }
font[color=darkred]       { color: #D20000 !important; }
font[color=maroon]        { color: #D20000 !important; }
font[color=darkslategray] { color: #768390 !important; }
font[color=dimgray]       { color: #A7A7A7 !important; }
font[color=green]         { color: #32CD32 !important; }
font[color=darkgreen]     { color: #32CD32 !important; }
font[color=forestgreen]   { color: #32CD32 !important; }
font[color=seagreen]      { color: #00FF7F !important; }
font[color=mediumseagreen]{ color: #00FF7F !important; }
font[color=olive]         { color: #F0E68C !important; }
font[color=darkolivegreen]{ color: #ADFF2F !important; }
font[color=olivedrab]     { color: #ADFF2F !important; }


/* ====================================================== */
/*                      ARTICLE BOXES                     */
/* ====================================================== */

.gdarticle
{
  margin-top:    10px;
  margin-bottom: 10px;
  padding:        5px;

  background:       #232B30;
  color:            #CBD0D8;
  border: 1px solid #4E5B65;
}
.gdactivearticle {
  border: 1px solid #0080FF;
}
.gdarticleseparator + script + .gdactivearticle .gddictname {
  border-top: 1px solid #0080FF;
}
.gdarticleseparator + script + .gdarticle .gddictname {
  border-top: 1px solid #4E5B65;
}
.gdarticleseparator {
  display: none;
}
/* Hide the 'From ' string which preceeds dictionary name in the heading */
.gdfromprefix
{
  display: none;
}
.gddictname {
  /* needed to be able to reorder elements, e.g. icon, dictionary name, collapse icon */
  display: -webkit-box;
  font-size: 12px;
  font-weight: normal;
  float:       right;
  margin:       -6px;
  margin-bottom: 5px;
  margin-left:   2px;
  padding-right: 0.3em;
  padding-top:   0.3em;

  background:       #2B3339;
  color:            #CBD0D8;
  border: 1px solid #4E5B65;

  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/* Actual text with the dictionary title */
.gddicttitle {
  display:block;
  -webkit-box-ordinal-group: 1;
}
.gdactivearticle .gddictname
{
  font-size: 12px;
  font-weight: normal;
  margin: -6px;
  margin-bottom: 10px;
  margin-left: 2px;

  float: right;
  background:       #0080FF;
  color:            #FFFFFF;
  border: 1px solid #0080FF;
}
.gdcollapsedarticle .gddictname {
  opacity: 0.7;
}

/* article collapsed */
.gdcollapsedarticle {
  background:       #2B3339;
  border: 1px solid #4E5B65;
  /* here we change the pattern */
  background-image: url('file:./styles/Dark/dark-av-collapse-pattern.png');
}

/* Move the collapse/expand buttons to the last, 3rd position */
.collapse_expand_area {
  display: block;
  -webkit-box-ordinal-group: 3;
}
.gddicticon {
  display: block;
  vertical-align: text-bottom;
  padding-right: -1em;
  padding-left: 0.3em;
  -webkit-box-ordinal-group: 2;
}
.gdexpandicon,
.gdexpandicon:hover,
.gdcollapseicon,
.gdcollapseicon:hover
{
    width:15px;
    background-position: center 35%;
    background-repeat:no-repeat;
    vertical-align: text-bottom;
    padding-left: -5px;
    margin-left:   0px;
}
.gdexpandicon {
    background-image: url('qrcx://localhost/icons/expand_article.png');
}
.gdexpandicon:hover {
    background-image: url('qrcx://localhost/icons/expand_article_hovered.png');
}
.gdcollapseicon {
    background-image: url('qrcx://localhost/icons/collapse_article.png');
}
.gdcollapseicon:hover {
    background-image: url('qrcx://localhost/icons/collapse_article_hovered.png');
}

/* The first headword in a (possibly) multi-headword DSL article */
.gdarticlebody > span:first-child .dsl_headwords,
.gdarticlebody > h3:first-child
{
  margin-top: -3px;
  display: inline-block;
}
.gdspellsuggestion {
  /* Add some vertical space before the article */
  margin-top: 1.5em;
}

/* ====================================================== */
/*                      WELCOME PAGE                      */
/* ====================================================== */

.gdnotfound,
.gdstemmedsuggestion_head,
.gdstemmedsuggestion_body {
  color: #CBD0D8;
}
.gdstemmedsuggestion_body > a {
  color: #0080FF;
}

/* remove ads */
body > h3 {
  visibility: hidden;
  background-color: transparent;
}
body > p  {
  visibility: hidden;
  background-color: transparent;
}
body {
  background: transparent;
}

/* ====================================================== */
/*                    SCROLL BARS                         */
/* ====================================================== */

::-webkit-scrollbar
{
  background:       #2B3339;
  border: 1px solid #000000;
}
::-webkit-scrollbar-corner
{
  background:              #2B3339;
  border-bottom: 1px solid #000000;
  border-right:  1px solid #000000;
}
::-webkit-scrollbar-thumb:vertical
{
  background:             #4E5B65;
  border-left:  1px solid #000000;
  border-right: 1px solid #000000;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active
{
  background:             #0080FF;
  border-left:  1px solid #000000;
  border-right: 1px solid #000000;
}
::-webkit-scrollbar-button:vertical:decrement
{
  border: 1px solid #000000;
  background: 
    linear-gradient(135deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(225deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(0deg,   #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:vertical:increment
{
  border: 1px solid #000000;
  background:
    linear-gradient(315deg, #2B3339 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(45deg,  #2B3339 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:vertical:decrement:hover,
::-webkit-scrollbar-button:vertical:increment:hover
{
  background-color: #0080FF;
}
::-webkit-scrollbar-button:vertical:decrement:active
{
  background: 
    linear-gradient(135deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(225deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(0deg,   #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-button:vertical:increment:active
{
  background:
    linear-gradient(315deg, #000000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(45deg,  #000000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-thumb:horizontal
{
  background:              #4E5B65;
  border-top:    1px solid #000000;
  border-bottom: 1px solid #000000;
}
::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:active
{
  background:              #0080FF;
  border-top:    1px solid #000000;
  border-bottom: 1px solid #000000;
}
::-webkit-scrollbar-button:horizontal:decrement
{
  border: 1px solid #000000;
  background:
    linear-gradient(45deg,  #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(135deg, #2B3339 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(270deg, #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:horizontal:increment
{
  border: 1px solid #000000;
  background:
    linear-gradient(225deg, #2B3339 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(315deg, #2B3339 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(90deg,  #2B3339 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #4E5B65;
}
::-webkit-scrollbar-button:horizontal:decrement:hover,
::-webkit-scrollbar-button:horizontal:increment:hover
{
  background-color: #0080FF;
}
::-webkit-scrollbar-button:horizontal:decrement:active
{
  background:
    linear-gradient(45deg,  #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(135deg, #000000 42%, rgba(0, 0, 0, 0) 43%),
    linear-gradient(270deg, #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
::-webkit-scrollbar-button:horizontal:increment:active
{
  background:
    linear-gradient(225deg, #000000 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(315deg, #000000 39%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(90deg,  #000000 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #0080FF;
}
